[build]
  base = "figures-de-style"
  command = "npm install && npm run build"
  publish = "dist/figures-de-style/browser"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20"
