
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environnements
.env
.env.*
!.env.example

# Bases de données locales
*.sqlite
*.db
*.dev.db

# Logs
logs/
*.log

# Build
dist/
build/
tmp/
temp/
out-tsc/
bazel-out/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Angular
.angular/cache/
.angular/local/

# Autres
coverage/
.history/
testem.log
/typings
/connect.lock
/libpeerconnection.log
/screenshot.png
.DS_Store
Thumbs.db
